.checkout-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

.product-table td {
  padding: 10px;
}

.product-table button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.total-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-price {
  font-weight: bold;
}

.pay-button {
  background-color: #00cc00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}
