.banner {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.banner img {
    width: 100%;
    height: 275px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #ffffff;
    margin-top: 5px;
}

.boxes p {
    font-size: 20px;
    line-height: 1.2;
}

.box {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    border: 3px solid #C9c9d7;
    width: 260px;
    height: 140px;
    margin: 0 10px;
}

.box:first-child {
    margin-left: 200px;
}

.box:last-child {
    margin-right: 200px;
}

.box p {
    margin: 10px 0;
    margin-top: 5px;
    text-align: center;
    color: #f8bc4c;
    font-size: 50px;
    font-weight: 600;
}

.box p1 {
    margin: 5px 0;
    text-align: center;
    color: #663300;
    font-size: 20px;
    font-weight: normal;
}

.professional-class {
    text-align: center;
    padding: 30px 0;
    background-color: #ffffff;
}

.professional-class h3 {
    font-size: 39px;
    font-family: Calibri, Arial, sans-serif;
    color: #663300;
    margin-bottom: 100px;
}

.image-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-box {
    text-align: center;
    margin: 0 30px;
}

.image-box h1 {
    text-align: left;
    font-size: 18px;
    color: grey;
    font-weight: normal;
}

.image-box h2 {
    text-align: left;
    font-size: 25px;
    color: #663300;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
}

.image-box h3 {
    text-align: left;
    font-size: 30px;
    color: #f8bc4c;
    margin-top: 50px;
}

.image-box img {
    width: 100%;
    max-width: 400px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    background-color: #f2f2f2;
}

.footer img {
    width: 100%;
    max-width: 300px;
}

.footer h4 {
    font-size: 50px;
    text-align: left;
}

.footer h5 {
    font-size: 30px;
    text-align: left;
}

.middle {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.middle img {
    width: 100%;
    height: 200px;
}

.middle h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Calibri, Arial, sans-serif;
    font-size: 37px;
    color: white;
    text-align: left;
    width: 80%;
}

.middle h2 {
    position: absolute;
    width: 80%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Calibri, Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: normal;
    padding: 1px;
    letter-spacing: 0.01rem;
    text-align: left;
}

.food-type {
    text-align: center;
    padding: 30px 0;
    background-color: #ffffff;
}

.food-type h3 {
    font-size: 39px;
    font-family: Calibri, Arial, sans-serif;
    color: #663300;
    margin-bottom: 100px;
}

.image-row2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-box2 {
    text-align: center;
    margin: 0 20px;
}

.image-box2 h1 {
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: normal;
}

.image-box2 img {
    width: 100%;
    max-width: 400px;
}

.price-wrapper {
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

.price-wrapper h3 {
    font-size: 30px;
    color: #f8bc4c;
    margin: 0;
    margin-left: 1px;
}