.container {
    display: grid;
    place-items: left;
    margin-top: 100px;
    margin-left: 460px;
    margin-top: 70px;
  }
  
  .input-container {
    display: grid;
    place-items: left;
    margin: 10px 0;
  }
  
  input {
    width: 300%;
    max-width: 600px;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #C9c9d7;
  }  
  
  h2 {
    font-size: 28px;
    text-align: left;
    margin-left: 2px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: normal;
    color: #663300;
    margin-bottom: 5px;
    letter-spacing: 0.01rem;
  }
  
  .required {
    font-size: 19px;
    color: #663300;
    font-family: Calibri, Arial, sans-serif;
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  button {
    background-color: #ffffff;
    color: black;
    border: 1px solid #663300;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container {
    max-width: 600px;
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
    font-family: Calibri, Arial, sans-serif;
    font-weight: normal;
    padding: 30px;
  }
  
  .form-container {
    text-align: center;
  }