.container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.tomyum-image {
    width: 110%;
}

.details {
    width: 40%;
    padding-left: 20px;
    margin-left: 80px;
    margin-top: 0px;
    height: 310px;
}

.details h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: lighter;
    color: #494949;
}

.details h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #191919;
}

.details p {
    font-size: 25px;
    margin-top: 5px;
    color: #573637;
}

.title-price {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.menu .schedule {
    width: 100%; /* Set the width to 100% to occupy the entire available space */
    margin-bottom: 10px; /* Optional: Adjust the margin as needed */
  }

.menu .schedule select {
    font-size: 16px;
    border: 2px solid grey; /* Adjust the border size and color as desired */
    padding: 8px; /* Optional: Adjust the padding as needed */
    border-radius: 5px;
  }
  

.menu label {
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    gap: 15px; /* Set the desired gap between the buttons */
    margin-top: 46px;
  }
  

.buttons button {
    padding: 7px 60px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.buttons button:hover {
    background-color: #f8bc4c;
}


.description {
    margin: 25px;
    margin-right: 80px;
    margin-bottom: 70px;

}

.description h3 {
    font-size: 24px;
    color: #573637;
}

.description p {
    justify-content: space-between;
    font-size: 17px;
    line-height: 1.5;
    font-weight: normal;
    color: black;
}